/* line 30, ../sass/_helpers.scss */
.activeHighlight {
  -webkit-box-shadow: rgba(85, 170, 238, 0.5) 0px 0px 10px 0px;
  -moz-box-shadow: rgba(85, 170, 238, 0.5) 0px 0px 10px 0px;
  box-shadow: rgba(85, 170, 238, 0.5) 0px 0px 10px 0px;
}

/* line 30, ../sass/_helpers.scss */
.activeHighlight {
  -webkit-box-shadow: rgba(85, 170, 238, 0.5) 0px 0px 10px 0px;
  -moz-box-shadow: rgba(85, 170, 238, 0.5) 0px 0px 10px 0px;
  box-shadow: rgba(85, 170, 238, 0.5) 0px 0px 10px 0px;
}

/* line 30, ../sass/_helpers.scss */
.activeHighlight {
  -webkit-box-shadow: rgba(85, 170, 238, 0.5) 0px 0px 10px 0px;
  -moz-box-shadow: rgba(85, 170, 238, 0.5) 0px 0px 10px 0px;
  box-shadow: rgba(85, 170, 238, 0.5) 0px 0px 10px 0px;
}

/* line 1, ../sass/_typography.scss */
.smallEm {
  font-size: 12px;
  font-style: italic;
}

/* line 6, ../sass/_form.scss */
.progressContainer {
  width: 50%;
}
/* line 8, ../sass/_form.scss */
.progressContainer .progressText {
  text-align: left;
}
/* line 10, ../sass/_form.scss */
.progressContainer .progressText h3 {
  font-size: 30px;
  letter-spacing: -1px;
  color: #555;
}

/* line 17, ../sass/_form.scss */
.progress {
  height: 30px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #f2f2f2);
  background-image: -moz-linear-gradient(top, #f9f9f9, #f2f2f2);
  background-image: -o-linear-gradient(top, #f9f9f9, #f2f2f2);
  background-image: linear-gradient(top, #f9f9f9, #f2f2f2);
}

/* line 21, ../sass/_form.scss */
.progress .bar {
  border: none;
  margin: 0px;
}

/* line 29, ../sass/_form.scss */
.node-form label {
  color: #000;
  padding: 5px;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  text-shadow: -1px 1px 1px #6e7e87;
}
/* line 32, ../sass/_form.scss */
.node-form .controls {
  padding: 0px 20px;
}
/* line 34, ../sass/_form.scss */
.node-form .controls input {
  margin: 0px 5px;
  float: none;
}
/* line 39, ../sass/_form.scss */
.node-form .help-block {
  color: #333;
}

/* line 43, ../sass/_form.scss */
.form-wrapper {
  clear: both;
  box-shadow: 1px 1px 10px #333;
  margin: 40px 0px;
  padding: 10px;
  background: #6E7E87;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF6E7E87', endColorstr='#FF5C6970');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6e7e87), color-stop(100%, #5c6970));
  background-image: -webkit-linear-gradient(top, #6e7e87, #5c6970);
  background-image: -moz-linear-gradient(top, #6e7e87, #5c6970);
  background-image: -o-linear-gradient(top, #6e7e87, #5c6970);
  background-image: linear-gradient(top, #6e7e87, #5c6970);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 53, ../sass/_form.scss */
.form-type-radio {
  display: inline;
  margin: 5px 10px;
}
/* line 56, ../sass/_form.scss */
.form-type-radio .controls {
  width: 10%;
  display: inline;
}
/* line 59, ../sass/_form.scss */
.form-type-radio .controls label {
  display: inline;
}

/* line 65, ../sass/_form.scss */
.controls {
  padding-left: 20px;
}
/* line 67, ../sass/_form.scss */
.controls label {
  background: transparent;
  color: white;
  font-size: 14px;
  font-weight: normal;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0px;
}

/* line 84, ../sass/_form.scss */
.form-item-field-region-und-select .controls label, .form-item-field-organization-und-select .controls label, .form-item-field-evaluation-und-select .controls label,
.form-item-field-resources-noaa-data-und-select .controls label, .form-item-field-resources-education-progra-und-select .controls label,
.form-item-field-resources-facilities-und-select .controls label, .form-item-field-teacher-resources-noaa-dat-und-select .controls label,
.form-item-field-teacher-resources-edu-prog-und-select .controls label, .form-item-field-teacher-resources-faciliti-und-select .controls label {
  background: transparent;
  color: white;
  font-size: 14px;
  font-weight: normal;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0px;
}

/* line 100, ../sass/_form.scss */
.form-item-field-noaa-funding-und, .form-item-field-funding-all-und, .form-item-field-organization-und-select,
.form-item-field-hours-taught-und, .form-item-field-hours-taught-outdoors-und, .form-item-field-length-participation-und,
.form-item-field-teacher-hours-pro-developm-und, .form-item-field-teacher-outdoor-activity-und, .form-item-field-evaluation-test-und,
.form-item-field-led-evaluation-und-select {
  display: block;
  float: none;
  margin: 1px;
}

/* line 104, ../sass/_form.scss */
.vertical-tabs {
  display: none;
}

/* line 107, ../sass/_form.scss */
.likertScale {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFE9EBED', endColorstr='#FF184563');
  /* Fallback: */
  background: #fff;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e9ebed), color-stop(100%, #184563));
  background-image: -webkit-linear-gradient(left, #e9ebed, #184563);
  background-image: -moz-linear-gradient(left, #e9ebed, #184563);
  background-image: -o-linear-gradient(left, #e9ebed, #184563);
  background-image: linear-gradient(left, #e9ebed, #184563);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px;
  width: 55%;
  padding: 5px;
  margin-left: 35px;
  font-weight: bold;
  color: #fff;
}
/* line 121, ../sass/_form.scss */
.likertScale .likertStart {
  color: #333;
}

/* line 125, ../sass/_form.scss */
.likertEnd {
  text-align: right;
  float: right;
}

/* line 129, ../sass/_form.scss */
.likertScaleSmall {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFE9EBED', endColorstr='#FF184563');
  /* Fallback: */
  background: #fff;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e9ebed), color-stop(100%, #184563));
  background-image: -webkit-linear-gradient(left, #e9ebed, #184563);
  background-image: -moz-linear-gradient(left, #e9ebed, #184563);
  background-image: -o-linear-gradient(left, #e9ebed, #184563);
  background-image: linear-gradient(left, #e9ebed, #184563);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 37%;
  padding: 5px;
  margin-left: 300px;
  font-weight: bold;
  color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px;
}
/* line 141, ../sass/_form.scss */
.likertScaleSmall .likertStart {
  color: #333;
}
/* line 144, ../sass/_form.scss */
.likertScaleSmall .likertEnd {
  text-align: right;
  float: right;
}

/* line 149, ../sass/_form.scss */
.noMargin {
  margin-left: 35px;
}

/* line 153, ../sass/_form.scss */
label[for=edit-field-led-evaluation-und-select] {
  color: #000;
  padding: 5px;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  text-shadow: -1px 1px 1px #6e7e87;
}

/* line 159, ../sass/_form.scss */
.form-item-field-evaluation-und-select label, .form-item-field-region-und-select label,
.form-item-field-organization-und-select label {
  color: #000;
  padding: 5px;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  text-shadow: -1px 1px 1px #6e7e87;
}

/* line 163, ../sass/_form.scss */
.form-item-title {
  clear: both;
  box-shadow: 1px 1px 10px #333;
  margin: 40px 0px;
  padding: 10px;
  background: #6E7E87;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF6E7E87', endColorstr='#FF5C6970');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6e7e87), color-stop(100%, #5c6970));
  background-image: -webkit-linear-gradient(top, #6e7e87, #5c6970);
  background-image: -moz-linear-gradient(top, #6e7e87, #5c6970);
  background-image: -o-linear-gradient(top, #6e7e87, #5c6970);
  background-image: linear-gradient(top, #6e7e87, #5c6970);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 175, ../sass/_form.scss */
fieldset legend {
  border-bottom: none;
  float: left;
}
/* line 179, ../sass/_form.scss */
fieldset .fieldset-legend a {
  color: #000;
  padding: 5px;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  text-shadow: -1px 1px 1px #6e7e87;
}
/* line 181, ../sass/_form.scss */
fieldset .fieldset-legend a:hover {
  color: #000;
  text-decoration: none;
}
/* line 186, ../sass/_form.scss */
fieldset .controls label.control-label {
  background: transparent;
  -webkit-box-shadow: 0px 0px 0px white;
  -moz-box-shadow: 0px 0px 0px white;
  box-shadow: 0px 0px 0px white;
  color: white;
  font-size: 14px;
  font-weight: normal;
}

/* line 194, ../sass/_form.scss */
.underlineText {
  text-decoration: underline;
}

/* line 197, ../sass/_form.scss */
.form-type-checkbox {
  padding-left: 30px;
}

/* line 5, ../sass/_results.scss */
.questionTitle {
  font-weight: bold;
  color: #000;
  padding: 5px;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  text-shadow: -1px 1px 1px #6e7e87;
}

/* line 9, ../sass/_results.scss */
.bar {
  background: #eee;
  width: 400px;
  height: 20px;
  margin: 10px;
  -webkit-box-shadow: 1px 1px 10px #eeeeee;
  -moz-box-shadow: 1px 1px 10px #eeeeee;
  box-shadow: 1px 1px 10px #eeeeee;
}
/* line 15, ../sass/_results.scss */
.bar span {
  height: 20px;
  float: left;
}
/* line 18, ../sass/_results.scss */
.bar span:hover {
  -webkit-box-shadow: 1px 1px 20px #666666;
  -moz-box-shadow: 1px 1px 20px #666666;
  box-shadow: 1px 1px 20px #666666;
}

/* line 23, ../sass/_results.scss */
.barLabel {
  width: 400px;
  margin: 10px;
}

/* line 27, ../sass/_results.scss */
.more {
  cursor: pointer;
  background: #000;
  color: #fff;
  width: 200px;
  float: left;
  position: relative;
  top: -50px;
  text-align: center;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 10px #333333;
  -moz-box-shadow: 1px 1px 10px #333333;
  box-shadow: 1px 1px 10px #333333;
}
/* line 40, ../sass/_results.scss */
.more a {
  padding: 5px;
  display: block;
}
/* line 43, ../sass/_results.scss */
.more a:hover {
  text-decoration: underline;
}

/* line 49, ../sass/_results.scss */
.more:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 28px;
  top: 18px;
  border: 11px solid;
  border-color: transparent transparent transparent  transparent;
}

/* line 60, ../sass/_results.scss */
.more:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 27px;
  top: 24px;
  border: 13px solid;
  border-color: #000 transparent transparent transparent;
}

/* line 74, ../sass/_results.scss */
.details {
  position: relative;
  left: 350px;
  top: -33px;
}

/* line 79, ../sass/_results.scss */
.resultDetail {
  margin: 0px 10px;
  padding: 5px;
}

/* line 86, ../sass/_results.scss */
.color1 {
  background-color: #e9ebed;
}

/* line 87, ../sass/_results.scss */
.color2 {
  background-color: #b1b8bf;
}

/* line 88, ../sass/_results.scss */
.color3 {
  background-color: #7fcdbb;
}

/* line 89, ../sass/_results.scss */
.color4 {
  background-color: #2c7eb5;
}

/* line 90, ../sass/_results.scss */
.color5 {
  background-color: #184563;
}

/* line 13, ../sass/style.scss */
body {
  background-image: url(../images/furley_bg.png);
}

/* line 16, ../sass/style.scss */
.node-grantee_survey-form {
  background: #E9EBED;
  padding: 5px;
  -webkit-box-shadow: 5px;
  -moz-box-shadow: 5px;
  box-shadow: 5px;
  -webkit-box-shadow: 1px 1px 10px #dddddd;
  -moz-box-shadow: 1px 1px 10px #dddddd;
  box-shadow: 1px 1px 10px #dddddd;
}
