//custom mixins and general helper functions

@mixin labels() {
	color: #08C;
	padding: 5px;
	font-size: 18px;
	@include filter-gradient(#fff, #F2F2F2, vertical);
  /* Fallback: */
  background: #fff;
	@include background-image(linear-gradient(top, #fff, #F2F2F2));
	line-height: 30px;
}