@import "colors";
@import "helpers";

@mixin granteeQuestions() {
  #mainResults {
    background: #E9EBED;
  }
  .result {
    clear: both;
    box-shadow: 1px 1px 10px #333;
    margin: 40px 0px;
    padding: 10px;
    background: #6E7E87;
    @include filter-gradient(#6E7E87, #5C6970, vertical);
    @include background-image(linear-gradient(top, #6E7E87, #5C6970));
    @include border-radius(5px);
  }
	.questionTitle {
		font-weight: bold;
    @include labels();
	}
	.bar {
		background: #eee;
		width: 400px;
		height: 20px;
    margin: 10px;
    // @include box-shadow(1px 1px 10px #333);
		span {
			height: 20px;
			float: left;
			&:hover{
				@include box-shadow(1px 1px 20px #333);
			}
		}
	}
	.barLabel {
		width: 400px;
    margin: 10px;
	}
	.more {
    cursor: pointer;
    background: #000;
    color: #fff;
    width: 200px;
    float: left;
    position: relative;
		top: -75px;
		// left: 40px;
		text-align: center;
		padding: 5px;
    min-height: 40px;
		@include border-radius(5px);
    @include box-shadow(1px 1px 10px #333);
    a {
      padding: 5px;
      display: block;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .more:before
  {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 28px;
    top: 18px;
    border: 11px solid;
    border-color: transparent transparent transparent  transparent  ;
  }
  .more:after
  {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 27px;
        top: 45px;
        border: 13px solid;
        border-color: #000 transparent transparent transparent;
  }
  .groupStudent {
  	// background: green;
  }
  //for the See Details button
  .details {
    position: relative;
    left: 400px;
    top: -33px;
  }
  .resultDetail {
    margin: 0px 10px;
    padding: 5px;
  }
}

@mixin scaleColors() {
	.color1 { 
    background: $one;
    @include filter-gradient($one, darken($one, 15), vertical);
    @include background-image(linear-gradient(top, $one, darken($one, 15)));
  }
	.color2 { 
    background: $two;
    @include filter-gradient($two, darken($two, 15), vertical);
    @include background-image(linear-gradient(top, $two, darken($two, 15)));
  }
	.color3 { 
    background: $three;
    @include filter-gradient($three, darken($three, 15), vertical);
    @include background-image(linear-gradient(top, $three, darken($three, 15)));
  }
	.color4 { 
    background: $four;
    @include filter-gradient($four, darken($four, 15), vertical);
    @include background-image(linear-gradient(top, $four, darken($four, 15)));
  }
	.color5 { 
    background: $five;
    @include filter-gradient($five, darken($five, 15), vertical);
    @include background-image(linear-gradient(top, $five, darken($five, 15)));
  }
}