@import "compass/css3";
@import "compass/layout.scss";
@import "compass/support";
@import "form";
@import "results";
@import "colors";
@import "helpers";
@import "typography";

@include forms();
@include granteeQuestions();	
@include scaleColors();
body {
	background-image: url(../images/furley_bg.png);
}
.node-grantee_survey-form {
	background: #E9EBED;
	padding: 5px;
	@include box-shadow(5px);
	// @include background-image(radial-gradient(#fff, #F6F6F1 1400px));
	@include box-shadow(1px 1px 10px #ddd);
}

#pageLoad {
	position:fixed;
	top:0;
	left:0;
	z-index:999;
	background:rgba(0,0,0,.5) url(../images/ajax-loader.gif) no-repeat 50% 50%;
	width: 100%;
	height: 100%;
}
